<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block" th:fragment="html_aside">
	<div class="logo">
		<a href="#">
			<img src="images/icon/logo.png" alt="Cool Admin" />
		</a>
	</div>
	<div class="menu-sidebar__content js-scrollbar1">
		<nav class="navbar-sidebar">
			<ul class="list-unstyled navbar__list">
				<li>
					<a class="js-arrow" <a th:href="@{/}">
						<i class="fas fa-tachometer-alt"></i>Dashboard</a>
				</li>
				<li>
					<a th:href="@{/books}"> <i class="fas fa-book"></i>Book</a>
				</li>
				<li>
					<a th:href="@{/borrows}"> <i class="fas  fa-calendar"></i>Borrowed</a>
				</li>
				<li>
					<a th:href="@{/staffs}"> <i class="fas fa-user-md"></i>Staff</a>
				</li>
				<li>
					<a th:href="@{/members}"> <i class="fas fa-user"></i>Member</a>
				</li>

			</ul>
		</nav>
	</div>
</aside>
<!-- END MENU SIDEBAR-->

</html>