<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="component/css :: html_css">

<body class="animsition">
	<div class="page-wrapper">
		<!-- MENU SIDEBAR-->
		<div th:replace='component/aside :: html_aside'></div>
		<!-- END MENU SIDEBAR-->

		<!-- PAGE CONTAINER-->
		<div class="page-container">
			<!-- HEADER DESKTOP-->
			<div th:replace='component/header :: html_header'></div>
			<!-- END HEADER DESKTOP-->

			<!-- MAIN CONTENT-->
			<div class="main-content">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<h3 class="title-5 m-b-35">Book</h3>
								<div class="table-data__tool">
									<div class="table-data__tool-left">
										<div class="rs-select2--light rs-select2--md">
											<select class="js-select2" name="property">
												<option selected="selected">All Properties</option>
												<option value="">Option 1</option>
												<option value="">Option 2</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
										<div class="rs-select2--light rs-select2--sm">
											<select class="js-select2" name="time">
												<option selected="selected">Today</option>
												<option value="">3 Days</option>
												<option value="">1 Week</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
										<button class="au-btn-filter">
											<i class="zmdi zmdi-filter-list"></i>filters</button>
									</div>
									<div class="table-data__tool-right">
										<a th:href="@{/books/book-add-edit/0}"><button
												class="au-btn au-btn-icon au-btn--green au-btn--small">
												<i class="zmdi zmdi-plus"></i>add item</button></a>

									</div>
								</div>
							</div>
						</div>
						<div class="row m-t-30">
							<div class="col-md-12">
								<!-- DATA TABLE-->
								<div class="table-responsive m-b-40">
									<table class="table table-borderless table-data3">
										<thead>
											<tr>
												<th>Title</th>
												<th>Description</th>
												<th>Price</th>
												<th>Author</th>
												<th>Category</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="book : ${bookList}">
												<td th:text="${book.title}"></td>
												<td th:text="${book.description}"></td>
												<td th:text="${book.price}"></td>
												<td th:text="${book.author}"></td>
												<td th:text="${book.category}"></td>
												<td>
													<div class="table-data-feature">
														<a th:href="@{'/books/book-add-edit/' + ${book.id}}"><button
																class="item" data-toggle="tooltip" data-placement="top"
																title="Edit">
															   <i class="zmdi zmdi-edit"></i></button> </a>
														<a th:href="@{'/books/delete/' + ${book.id}}">
															<button class="item" data-toggle="tooltip"
																data-placement="top" title="Delete">
																<i class="zmdi zmdi-delete"></i>
															</button></a>
													</div>
												</td>
										</tbody>
									</table>
								</div>
								<!-- END DATA TABLE-->
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="copyright">
									<p>Copyright © 2018 Colorlib. All rights reserved. Template by <a
											href="https://colorlib.com">Colorlib</a>.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div th:replace='component/script :: html_script'></div>
</body>