<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="component/css :: html_css">

<body class="animsition">
	<div class="page-wrapper">
		<!-- MENU SIDEBAR-->
		<div th:replace='component/aside :: html_aside'></div>
		<!-- END MENU SIDEBAR-->

		<!-- PAGE CONTAINER-->
		<div class="page-container">
			<!-- HEADER DESKTOP-->
			<div th:replace='component/header :: html_header'></div>
			<!-- END HEADER DESKTOP-->

			<!-- MAIN CONTENT-->
			<div class="main-content">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-6" style="margin: 0 auto">
								<div class="card">
									<div class="card-header" th:if="${staff.id != null}">
										<strong>Edit Form</strong> Elements
									</div>
									<div class="card-header" th:unless="${staff.id != null}">
										<strong>Add Form</strong> Elements
									</div>
									<div class="card-body card-block">
										<form id="form1" action="#" th:action="@{/staffs/new}" th:object="${staff}"
											method="post" enctype="multipart/form-data" class="form-horizontal">
											<div class="row form-group">
												<div class="col col-md-3">
													<label class=" form-control-label">Email</label>
												</div>
												<div class="col-12 col-md-9" th:if="${staff.id != null}">
													<input type="text" id="email" th:field="*{email}"
														th:value="${staff.email}" placeholder="Email"
														class="form-control">
													<small style="color: red;" id="email-error"></small>
												</div>
												<div class="col-12 col-md-9" th:unless="${staff.id != null}">
													<input type="text" id="email" th:field="*{email}"
														placeholder="Email" class="form-control">
													<small style="color: red;" id="email-error"></small>
												</div>
											</div>
											<div class="row form-group">
												<div class="col col-md-3">
													<label for="text-input" class=" form-control-label">Password</label>
												</div>
												<div class="col-12 col-md-7" th:if="${staff.id != null}">
													<input type="text" id="password" th:field="*{password}"
														th:value="${staff.password}" placeholder="Password"
														class="form-control" style="width: 115%;" disabled>
												</div>
												<div class="col-12 col-md-7" th:unless="${staff.id != null}">
													<input type="text" id="password" th:field="*{password}"
														placeholder="Password" class="form-control" style="width: 115%;"
														disabled>
												</div>
												<div class="col-12 col-md-2"
													style="display: flex; justify-content: end;">
													<button class="btn btn-primary btn-sm" id="generate-password">
														<i class="fa fa-dot-circle-o"></i> Generate
													</button>
												</div>

											</div>
											<div class="row form-group">
												<div class="col col-md-3">
													<label for="email-input" class=" form-control-label">Full
														Name</label>
												</div>
												<div class="col-12 col-md-9" th:if="${staff.id != null}">
													<input type="email" id="full-name" th:field="*{fullName}"
														th:value="${staff.fullName}" placeholder="Full Name"
														class="form-control">
													<small style="color: red;" id="full-name-error"></small>
												</div>
												<div class="col-12 col-md-9" th:unless="${staff.id != null}">
													<input type="email" id="full-name" th:field="*{fullName}"
														placeholder="Full Name" class="form-control">
													<small style="color: red;" id="full-name-error"></small>
												</div>
											</div>
											<div class="row form-group">
												<div class="col col-md-3">
													<label class=" form-control-label">Gender</label>
												</div>
												<div class="col col-md-9">
													<div class="form-check">
														<div class="radio">
															<label for="radio1" class="form-check-label ">
																<input type="radio" id="gender" th:field="*{gender}"
																	value="male" class="form-check-input">Male
															</label>
														</div>
														<div class="radio">
															<label for="radio2" class="form-check-label ">
																<input type="radio" id="gender" th:field="*{gender}"
																	value="female" class="form-check-input">Female
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="row form-group">
												<div class="col col-md-3">
													<label for="disabled-input" class=" form-control-label">Age</label>
												</div>
												<div class="col-12 col-md-9" th:if="${staff.id != null}">
													<input type="number" id="age" th:field="*{age}"
														th:value="${staff.age}" placeholder="Age" class="form-control">
													<small style="color: red;" id="age-error"></small>
												</div>
												<div class="col-12 col-md-9" th:unless="${staff.id != null}">
													<input type="number" id="age" th:field="*{age}" placeholder="Age"
														class="form-control">
													<small style="color: red;" id="age-error"></small>
												</div>
											</div>
											<div class="row form-group">
												<div class="col col-md-3">
													<label for="disabled-input"
														class=" form-control-label">Phone</label>
												</div>
												<div class="col-12 col-md-9" th:if="${staff.id != null}">
													<input type="text" id="phone" th:field="*{phone}"
														th:value="${staff.age}" placeholder="Phone"
														class="form-control">
													<small style="color: red;" id="phone-error"></small>
												</div>
												<div class="col-12 col-md-9" th:unless="${staff.id != null}">
													<input type="text" id="phone" th:field="*{phone}"
														placeholder="Phone" class="form-control">
													<small style="color: red;" id="phone-error"></small>
												</div>
											</div>
											<div class="row form-group">
												<div class="col col-md-3">
													<label for="disabled-input"
														class=" form-control-label">Address</label>
												</div>
												<div class="col-12 col-md-9" th:if="${staff.id != null}">
													<input type="text" id="address" th:field="*{address}"
														th:value="${staff.address}" placeholder="Address"
														class="form-control">
													<small style="color: red;" id="address-error"></small>
												</div>
												<div class="col-12 col-md-9" th:unless="${staff.id != null}">
													<input type="text" id="address" th:field="*{address}"
														placeholder="Address" class="form-control">
													<small style="color: red;" id="address-error"></small>
												</div>
											</div>
										</form>
									</div>
									<div class="card-footer">
										<button th:if="${staff.id != null}" type="submit" class="btn btn-primary btn-sm"
											id="btn-submit-form">
											<i class="fa fa-dot-circle-o"></i> Edit
										</button>
										<button th:unless="${staff.id != null}" type="submit"
											class="btn btn-primary btn-sm" id="btn-submit-form">
											<i class="fa fa-dot-circle-o"></i> Add
										</button>
										<button type="reset" class="btn btn-danger btn-sm" id="btn-reset">
											<i class="fa fa-ban"></i> Reset
										</button>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="copyright">
									<p>Copyright © 2018 Colorlib. All rights reserved. Template by <a
											href="https://colorlib.com">Colorlib</a>.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div th:replace='component/script :: html_script'></div>
	<script>
		function validateEmail(input) {
			let validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
			return validRegex.test(input);
		}
		function validateNumber(input) {
			let validRegex = /^\d+$/;
			return validRegex.test(input)
		}
		function validatePhone(input) {
			let validRegex = /(((\+|)84)|0)(3|5|7|8|9)+([0-9]{8})\b/;

			return validRegex.test(input);
		}
		function validateInput() {

			$("#email").change(function () {
				let email = $("#email").val();
				// Validate email
				if (validateEmail(email) || email === "") {
					$("#email").css("border", "1px solid #ced4da");
					$("#email-error").html("")
				}
			});

			$("#age").change(function () {
				let age = $("#age").val();
				// Validate age
				if ((age >= 0 && age <= 100) || age === "") {
					$("#age").css("border", "1px solid #ced4da");
					$("#age-error").html("")
				}
			})
			$("#phone").change(function () {
				let phone = $("#phone").val();
				// Validate phone
				if (validatePhone(phone) || phone === "") {
					$("#phone").css("border", "1px solid #ced4da");
					$("#phone-error").html("")
				}
			});

			$("#btn-submit-form").click(function () {
				let email = $("#email").val();
				let phone = $("#phone").val();
				let age = $("#age").val();
				let checkEmail = true;
				let checkPhone = true;
				let checkAge = true;
				// Validate email
				if (!validateEmail(email) || !email) {
					$("#email").css("border", "1px solid red");
					$("#email-error").html("Please enter email address in correct format\nexample@gmail.com").css("color", "red !important")
					checkEmail = false
				}
				// Validate age
				if (age) {
					if ((age <= 0 || age > 100)) {
						$("#age").css("border", "1px solid red");
						$("#age-error").html("Please enter age greater than 0 and less than 100")
						checkAge = false
					}
				}
				// Validate phone
				if (phone) {
					if (!validatePhone(phone)) {
						$("#phone").css("border", "1px solid red");
						$("#phone-error").html("Please enter correct format phone number").css("color", "red !important")
						checkPhone = false
					}
				}
				if (!checkEmail || !checkPhone || !checkAge) {
					console.log("Submit fail")
				} else {
					$("#form1").submit()
					console.log("Submit success")
				}

			});
			$("#generate-password").click(function (e) {
				e.preventDefault();
				let randomstring = Math.random().toString(36).slice(-8);
				$("#password").val(randomstring);
			});
			$("#btn-reset").click(function (e) {
				e.preventDefault();
				$("#email").val(null);
				$("#password").val(null);
				$("#full-name").val(null);
				$("#gender").val(null);
				$("#age").val(null);
				$("#phone").val(null);
				$("#address").val(null);
				$("#email-error").html("")
				$("#age-error").html("")
				$("#phone-error").html("")
				$("#email").css("border", "1px solid #ced4da");
				$("#phone").css("border", "1px solid #ced4da");
				$("#age").css("border", "1px solid #ced4da");
			});
		}
		validateInput();
	</script>
</body>

</html>
<!-- end document-->